body{
    background-color: #F0EEE9; 
}

.titre{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

h1{
    color: #00A0B0;
    font-weight: bold;
}

.accueil_div{
    display: flex;
    padding-top: 4rem;
    justify-content: center;
}

.titre-deux{
    padding-top: 4rem;
    display: flex;
    margin-left: 2rem;
}

h2{
    color: #00A0B0;
}

.btn-base{
    background-color: #F5DF4D ;
}