body{
    background-color: #F0EEE9; 
}

.titre{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

h1{
    color: #00A0B0;
    font-weight: bold;
}

.compte_div{
    display: flex;
    padding-top: 4rem;
    justify-content: center;
}