body{
    background-color: #F0EEE9; 
}

.titre{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

h1{
    color: #00A0B0;
    font-weight: bold;
}

.planning_div{
    display: flex;
    padding-top: 4rem;
    justify-content: center;
}

.cours_div{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: #756e6d 0 3px 6px;
    width: 16rem;
    margin: 2rem;
}

.cours_div:hover{
    box-shadow: #756e6d -5px 10px 10px;
    transform: translate(3px,1px);
}

.description{
    margin-bottom: 0;
}

.f_ligne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-base{
    background-color: #F5DF4D ;
}

.cours_nom{
    justify-content: center;
    display: flex;
}